asgiref==3.11.1
django==5.2.12
django-constance==4.3.4
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-api-key==3.1.0
djangorestframework-simplejwt==5.5.1
packaging==26.0
pyjwt==2.12.0
sqlparse==0.5.5
typing-extensions==4.15.0
